// These colors are specific to the theme. Do not use in a package!

@koki-kuchinashi: #FB9966;

@fuji-murasaki: #A59ACA;
@cyan: #389AAC;
@blue: #4C99D3;
@green: #7BB75B;
@red: #CE3E60;
@yellow: #E8B32A;

@dark-gray: #343835;
@gray: #585A58;
@light-gray: #B1B5AE;
@white: #F9FAF6;

@background: #1D1D1D;
@selection: #165776;
@cursor: #ECCF4F;
